{% extends 'StoreBundle::layout.html.twig' %}


{% block title %}
    SHOPPING-CART Beppe's Pizza Shop
{% endblock %}

{% block body -%}
    <h1>Orders creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('orders') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
