{% extends 'StoreBundle::layout.html.twig' %}

{% block title %}
    SHOPPING-CART Beppe's Pizza Shop
{% endblock %}

{% block content %}
    <h1>Klantengegevens - Stap 3</h1>

    <br><br>
    {{ form(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            <- .. <- .. Terug naar Productenlijst
        </a>
     </li>
     <li>      
        <a href="{{ path('cart') }}">
        	<- .. Back 2 Cart    
        </a>
    </li>
    <li>    
        <a href="{{ path('orders_one', { 'id': entity.id }) }}">
            Next step... ->
        </a>
    </li>
</ul>
{% endblock %}
