{% extends 'StoreBundle::layout.html.twig' %}


{% block title %}
    SHOPPING-CART Beppe's Pizza Shop
{% endblock %}

{% block content %}
<h1>Beppe's pizza's SHOPPING-CART</h1>

  <div id="product_list">
    {% for id, name in products %}
      <a title="Add this item" href="{{ path('cart_add', {'id': id}) }}" style="display:inline-block">
        <img alt="" src="{{ asset('images/pizza-' ~ id ~ '.jpg') }}" class="products" id="product_{{ id }}" />
      </a>
    {% endfor %}
  </div>

  <h2>Cart:</h2>
  
  <div id="wastebin" style="float:right">
    <img id="wastebin" src="{{ asset('images/trash.png') }}" alt="" />
  </div>


  <div id="cart" class="cart">
    <div id="items">
      {% include 'StoreBundle:Cart:cart.html.twig' with {'cart': cart, 'products': products} %}
    </div>
    <div style="clear: both"></div>
  </div>

  
</div>

{% endblock %}