{% extends 'StoreBundle::layout.html.twig' %}

{% block title %}
    Beppe's Pizza Shop - Storia
{% endblock %}

{% block content %}

<p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"Non c’è nessuno a cui piaccia il dolore in sé, che lo ricerchi e che voglia riceverlo, semplicemente perché è dolore..."</p>


<img alt="Onze originele houtoven!" src="{{ asset('images/napoli.jpg') }}" style="
	width:355px;
	height:185px;
	position:relative;
	display:block; 
    margin-left:auto;
    margin-right:auto;"
	/>

<br>
<p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.</p>


{% endblock %}